.everything-holder {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 200px);
}
.everything {
    text-align: center;
    margin:0 auto;
}
p {
    text-align: center;
}
.words {
    text-align: center;
    border: 2px solid black;
}
.myCanvas {
    border: 2px solid black;
    margin:0 auto;
    margin-top: 2px;
}
.buttons {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0, 10px, 0, 10px;
    text-align: center;
    margin:0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
}
